h1 {
  color: rgb(255, 0, 0);
  font-size: 40px;
  text-align: center;
}

h2 {
  color: rgb(10, 31, 221);
  font-size: 30px;
  text-align: center;
}

p {
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

div {
  text-align: center;
  padding: 0.5%;
}

.imagen{
  text-align: center;
}